.mainCont {
    display: 'flex';
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    padding: 10px;

    background-color: brown;
}

.dei {
    color: #092c3e;
    transition: 2s;
}

.nait {
    position: absolute;
    color: #fff;
    transition: 2s;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}
 
.tech-cont {
    width: 33%;
    float: left;
}
