.dei {
    color: #092c3e;
    transition: 2s;
}

.nait {
    position: absolute;
    color: #fff;
    transition: 2s;
}

.skillsCont {
    display: 'flex';
    /* flex-direction: row; */
    flex-wrap: wrap;
    position: relative;
    width: 80%;
    padding: 20px;
    margin: auto;
    /* margin-left: 10%; */
    justify-content: center;
    align-items: center;

    background: linear-gradient(120deg, #F66B6B, #5B71BF);
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.tech-cont {
    display: flex;
    flex-direction: row;
}
 
.tech-cont1 {
    width: 33%;
    background-color: brown;
    border: 2px solid yellow;
}

.tech-cont2 {
    width: 33%;
    background-color: brown;
    border: 2px solid yellow;
}

.tech-cont3 {
    width: 33%;
    background-color: brown;
    border: 2px solid yellow;
}
