.containerH {
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
    overflow: hidden;

    background-color: rgba(227, 137, 59, 0.445);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1.2);
    border-radius: 20px;

    display: 'flex';
    margin: auto;
    margin-top: 50px;
    position: relative;
    width: 80vw;
}

/* terminal */
.terminal {
    background: #202020;
    border-radius: 10px;
    display: flex;
    font-size: 20px;
    height: calc(50vw * 0.6);
    margin: auto;
    margin-top: 50px;
    position: relative;
    width: 60vw;
}

.header {
    background: #57524E;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.2vw;
    height: 3vw;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 100%;
}

.bash {
    color: #39b43f;
    display: flex;
    font-size: 1.2vw;
    font-weight: 700;
    left: 0.5vw;
    position: absolute;
    top: 7vmin;
    white-space: nowrap;
    width: 20vw;
}

.bash p {
    color: #fff;
    margin-top: -1px;
}

/* define bash lines space */
.body .bash:nth-child(1) {
    margin-top: 0;
}
.body .bash:nth-child(2) {
    margin-top: 2vw;
}
.body .bash:nth-child(3) {
    margin-top: 4vw;
}
.body .bash:nth-child(4) {
    margin-top: 6vw;
}
.body .bash:nth-child(5) {
    margin-top: 8vw;
}
.body .bash:nth-child(6) {
    margin-top: 10vw;
}

/* tipewritter machine animation */
.text {
    color: #fff;
    display: inline;
    font-weight: 400;
    margin-left: 5px;
    width: 45vw;
}

.typer1 {
    margin: 0 auto;
    width: 0em;
    font-size: 1em;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.5em solid #39b43f;
    animation: typewritter 3s steps(30, end) normal forwards, cursor 3s steps(10) forwards;
}

.typer2 {
    margin: 0 auto;
    width: 0em;
    font-size: 1em;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.5em solid #39b43f;
    animation: typewritter 3s steps(69, end) normal forwards, cursor 3s steps(10) forwards;
    animation-delay: 4s
}

.typer3 {
    margin: 0 auto;
    width: 0em;
    font-size: 1em;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.5em solid #39b43f;
    animation: typewritter 3s steps(52, end) normal forwards, cursor 3s steps(10) forwards;
    animation-delay: 8s
}

.typer4 {
    margin: 0 auto;
    width: 0em;
    font-size: 1em;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.5em solid #39b43f;
    animation: typewritter 3s steps(51, end) normal forwards, cursor 3s steps(10) forwards;
    animation-delay: 12s
}

.typer5 {
    margin: 0 auto;
    width: 0em;
    font-size: 1em;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.5em solid #39b43f;
    animation: typewritter 3s steps(56, end) normal forwards, cursor 500ms steps(100) infinite;
    animation-delay: 16s
}
  
@keyframes typewritter {
    form { width: 0; }
    to { width: 31vw; }
}
  
@keyframes cursor {
    0% {border-right-color: #39b43f;}
    90% {border-right-color: #39b43f;}
    100% {border-right-color: transparent;}
}
/* end tipewritter machine animation */


/* tux */
.tux {
    padding: 10px;
    position: relative;
    padding-top: 15vmin;
    width: 15vw;
}

.tux img {
    display: flex;
    height: auto;
    margin: auto;
    padding: 10px;
    width: 12vw;
}

/* tux dialog */
.tux span:nth-child(1) {
    background: #E3893B;
    border-radius: 50%;
    position: absolute;
    height: 1.5vw;
    right: 30px;
    top: 100px;
    width: 1.5vw;
}

.tux span:nth-child(2) {
    background: #E3893B;
    border-radius: 50%;
    position: absolute;
    height: 2.5vw;
    right: -15px;
    top: 60px;
    width: 2.5vw;
}

.tux span:nth-child(3) {
    background: #E3893B;
    border-radius: 50%;
    position: absolute;
    height: 5vw;
    right: -70px;
    top: 10px;
    width: 5vw;
}
/* end tux */

/* responsive */

/* @media screen and (max-width: 1266px) {} */

/* @media screen and (max-width: 800px) {} */
