.cardContainer {
    align-items: center;
    background-color: #4f5357;
    /* opacity: .95; */
    border-radius: 20px;
    justify-content: center;
    height: 425px;
    width: 400px;
    margin: 20px;
}

.card-header {
    text-align: center;
}

.subtitle {
    font-size: 2em;
    color: #38b23e;
    text-decoration: none;
}

.subtitle:hover {
    font-size: 2em;
    color: #38b23e;
    text-decoration: underline;
}

.card-img {
    height: 250px;
    width: auto;
    max-width: 370px;
}

.card-body {
    align-items: center;
    justify-content: center;   
}
