.light{
    font-weight: bolder;
    color: #092c3e;
    position: relative;
    transition: 2s;
}

.dark{
    font-weight: bolder;
    color: #fff;
    position: relative;
    transition: 2s;
}

.contactBox{
    width: 80%;
    margin: auto;
    padding: 20px;
    background: linear-gradient(120deg, #F66B6B, #5B71BF);
    position: relative;
}

form {
    background-color: blueviolet;
    width: 40%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 20px;
    align-items: center;
}

input {
    border-radius: 10px;
    border: none;
}

label {
    margin: 10px;
}

.social-media {
    background-color: beige;
    width: 40%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-radius: 20px;
}

.icon{
    border: 3px solid blueviolet;
    /* padding: 5px; */
    border-radius: 10px;
}

button {
    text-decoration: none;
    border: none;
    background-color: inherit;
    color: blueviolet;
}

button :hover {
    /* color: #000; */
    /* background: linear-gradient(120deg, #F66B6B, #5B71BF); */
    color: #fff;
    background: #092c3e;
    border: 3px solid #092c3e;
}
