.light{
    font-weight: bolder;
    color: #092c3e;
    position: relative;
    transition: 2s;
}

.dark{
    font-weight: bolder;
    color: #fff;
    position: relative;
    transition: 2s;
}

.contactBox{
    width: 80%;
    margin: auto;
    padding: 20px;
    background: linear-gradient(120deg, #F66B6B, #5B71BF);
    position: relative;
}

form {
    background-color: blueviolet;
    width: 40%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 20px;
    align-items: center;
}


.social-media {
    background-color: beige;
    width: 40%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-radius: 20px;
}
