.dia {
    position: absolute;
    color: #092c3e;
    transition: 2s;
}

.noche {
    position: absolute;
    color: #fff;
    transition: 2s;
}

h2{
    text-align: center;
}

.education {
    position: absolute;
    /* margin: auto; */
    margin-left: 8.5%;
    width: 80%;
    color:#092c3e;
    font-weight: bolder;
    align-content: center;
    background: linear-gradient(120deg, #F66B6B, #5B71BF);
    padding: 20px;
    justify-content: space-around;
    align-items: baseline;
}

.content0 {
    display: flex;
    flex-direction: row;
}

.content1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    background: #5B71BF;
}

.content2 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    background: #F66B6B;
}

img {
    width: auto;
    height: 300px;
    align-items: center;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
}

/* img:hover {
    width: 800px;
    height: auto;
    position: absolute;
} */

.box {
    padding: 10px;
    border: 5px solid gold;
}
