.container {
    display: 'flex';
    justify-content: center;
    align-items: center;
}

/* .dia {
    color: #092c3e;
    transition: 2s;
} */

.noche {
    position: absolute;
    color: #fff;
    transition: 2s;
}

.top {
    font-size: 4.5vh;
    color:#092c3e;
    transition: 2s;
    font-weight: bolder;
    justify-content: center;
}

h2{
    text-align: center;
}

.education {
    color:#092c3e;
    transition: 2s;
    font-weight: bolder;
    align-content: center;
    background: linear-gradient(120deg, #F66B6B, #5B71BF);
    width: 50%;
    float: left;
}
.hobbies {
    color:#092c3e;
    transition: 2s;
    font-weight: bolder;
    align-content: center;
    background: linear-gradient(120deg, #5B71BF, #F66B6B);
    width: 50%;
    float: left;
}

img {
    width: 300px;
    align-items: center;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
}

.content {
    background-color: teal;
}
