.container {
    display: 'flex';
    justify-content: center;
    align-items: center;
}

.dia {
    color: #092c3e;
    transition: 2s;
}

.noche {
    position: absolute;
    color: #fff;
    transition: 2s;
}

.top {
    width: 80%;
    padding: 10px;
    font-size: 25px;
    background-color: #365;
    color:#092c3e;
    font-weight: bolder;
    text-align: center;
    margin-left: 10%;
    position: relative;
    transition: 2s;
}

h2{
    text-align: center;
}

.fantasia {
    height: auto;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 130px;
}

.education {
    color:#092c3e;
    transition: 2s;
    font-weight: bolder;
    align-content: center;
    background: linear-gradient(120deg, #F66B6B, #5B71BF);
    width: 50%;
    float: left;
    margin-bottom: 17px;

}

.hobbies {
    color:#092c3e;
    transition: 2s;
    font-weight: bolder;
    align-content: center;
    background: linear-gradient(240deg, #F66B6B, #5B71BF);
    width: 50%;
    float: left;
}

img {
    width: 300px;
    align-items: center;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
}
