.day {
    font-weight: bolder;
    color: #092c3e;
    position: relative;
    font-size: 50px;
    padding: 10px;
}

.night {
    font-weight: bolder;
    color: #fff;
    position: relative;
    font-size: 50px;
    padding: 10px;
}
