.light {
    background-color: #092c3e;
    color: #092c3e;
    position: absolute;
    transition: 2s;
}

.dark {
    background-color: #fff;
    color: #fff;
    position: absolute;
    transition: 2s;
}

.link {
    text-decoration: none;
    color: #fff;
    padding:15px;
}

#nav {
    width: 80%;
    background-color: #092c3e;
    border-radius: 20px;
    border: 2px solid #fff;
    font-weight: bolder;
    padding: 10px;
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    margin-left: 10%;
    transition: 2s;
}
