.body {
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    /* position: relative; */
    justify-content: center;
 
}

input[type="checkbox"] {
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

.check {
    margin: 10px;
    position: relative;
    display: block;
    width: 60px;
    height: 35px;
    background: #092c3e;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
    
}

input[type="checkbox"]:checked ~ .check{
    background: #fff;
    box-shadow: 0 0 0 1200px #092c3e;
}

.check:before {
    margin-right: 10px;
    content: '';
    position: absolute; /*si pongo relative se va el puntito, lo podria cambiar a un sol y una luna*/
    top: 2px;
    left: 2px;
    background: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: 0.5s;
}

input[type="checkbox"]:checked ~ .check::before {
    transform: translateX(-50px);
}

.check:after {
    margin-left: 10px;
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    background: #092c3e;
    background-position: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(50px);
    background-size: cover;
}

input[type="checkbox"]:checked ~ .check::after {
    transform: translateX(0px);
}

.light{
    margin-left: 40%;
    color: #092c3e;
    position: absolute;
    transition: 2s;
}

.dark{
    margin-left: 40%;
    color: #fff;
    position: absolute;
    transition: 2s;
}
/* 
.container {
    width: 40%;
} */

span {
    position: relative;
    align-content: flex-end;
    align-self: flex-end;
}
