body {
    margin: 0;
    padding: 0;
    display: flex;
    /* position: relative; */
    justify-content: center;
    align-items: center;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

.check {
    margin-top: 10px;
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background: #092c3e;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
}

input[type="checkbox"]:checked ~ .check{
    background: #fff;
    box-shadow: 0 0 0 1200px #092c3e;
}

.check:before {
    margin-right: 10px;
    content: '';
    position: absolute; /*si pongo relative se va el puntito, lo podria cambiar a un sol y una luna*/
    top: 2px;
    left: 2px;
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
}

input[type="checkbox"]:checked ~ .check::before {
    transform: translateX(-50px);
}

.check:after {
    margin-left: 10px;
    content: '';
    position: absolute;
    top: 2px;
    right: 2px;
    background: #092c3e;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(50px);
}

input[type="checkbox"]:checked ~ .check::after {
    transform: translateX(0px);
}

.light{
    font-weight: bolder;
    color: #092c3e;
    position: relative;
    transition: 2s;
}

.dark{
    font-weight: bolder;
    color: #fff;
    position: relative;
    transition: 2s;
}
