.light{
    font-weight: bolder;
    color: #092c3e;
    position: relative;
    transition: 2s;
}

.dark{
    font-weight: bolder;
    color: #fff;
    position: relative;
    transition: 2s;
}

.containerH {
    background: #4f5357;
    border-radius: 20px;
    display: 'flex';
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 20px;
    position: relative;
    width: 80vw;
}

.tux img {
    display: flex;
    height: auto;
    margin: auto;
    padding: 10px;
    width: 12vw;
}

.tux {
    padding: 10px;
    position: relative;
    padding-top: 15vmin;
    width: 15vw;
}

.tux span:nth-child(1) {
    background: #4f5357;
    border-radius: 50%;
    position: absolute;
    height: 1.5rem;
    right: 30px;
    top: 100px;
    width: 1.5rem;
}

.tux span:nth-child(2) {
    background: #4f5357;
    border-radius: 50%;
    position: absolute;
    height: 2rem;
    right: -15px;
    top: 60px;
    width: 2rem;
}

.tux span:nth-child(3) {
    background: #4f5357;
    border-radius: 50%;
    position: absolute;
    height: 2.5rem;
    right: -70px;
    top: 10px;
    width: 2.5rem;
}


.terminal {
    background: #202020;
    border-radius: 10px;
    display: flex;
    font-size: 20px;
    height: calc(50vw * 0.55);
    left: 25vw;
    position: relative;
    width: 50vw;
}

.header {
    /* background: #4f5357; */
    background: #57524E;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 5vmin;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 100%;
}

.bashIcon {
    margin-top: 8px;
}

.bash {
    color: #39b43f;
    display: flex;
    font-weight: 600;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 6vmin;
}

.bash p {
    color: #fff;
    margin-top: -1px;
}

.text {
    color: #fff;
    display: flex;
    width: 50%;
}

.bash2 {
    color: #39b43f;
    display: flex;
    font-weight: 600;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 50%;
}

.titila {
    background-color: #38b23e;
    height: 20px;
    width: 10px;
    margin: 3px 0 0 5px;
    animation: 0.4s ease infinite alternate blink;
}

.bash2 p {
    color: #fff;
    margin-top: -1px;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* responsive */

@media screen and (max-width: 1266px) {
    .bash {
        font-size: 1.5vw;
    }

    .bash2 {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 800px) {
    .terminal {
        width: 80vw;
        height: 40vw;
        left: 0;
        font-size: 2vw;
    }

    .text {
        color: #fff;
        display: flex;
        width: 60%;
        font-size: 2vw;
    }

    .bash {
        font-size: 2vw;
    }

    .bash2 {
        top: 50%;
        font-size: 2vw;
    }

    .tux span {
        display: none;
    }
}
