.workContainer {
    display: flex;
    flex-direction: row;
    width: 80%;
    position: relative;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.construction {
    margin-top: 20px;
    max-width: 800px;
}

.boxx {
    background-color: #5B71BF;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid yellow;
    justify-content: space-between;
    margin: 10px;
}
