.footerContainer {
    background-color: rgba(227, 137, 59, 0.445);
    padding: 10px;
    margin-top: 80px;
}

.contactMe {
    display: flex;
    justify-content: space-around;
}

.footer__title {
    color: #4f5357;
    font-size: 2em;
}

.icon{
    border-radius: 10px;
    color: #39b43f;
    background-color: #4f5357;
    margin: 10px;
    align-items: center;

}

.icon:hover {
    color: #E3893B;
    background-color: #4f5357;
    box-shadow: 1rem 1rem rgba(0, 0, 0, 0.5);
    transition: 1s;
}


.footer__link {
    color: #39b43f;
    margin: 10px;
    font-size: 1.5em;
}

.footer__link:hover {
    text-decoration: none;
}

.footer-bottom {
    color: #4f5357;
    text-align: center;
}
