.footerContainer {
    background: #4f5357;
    padding: 10px;
    margin-top: 25vh;
}

.footer__title {
    color: #fff !important;
}

.icon{
    border-radius: 10px;
    padding: 5px;
    color: #39b43f;
}

.icon:hover {
    transition: 1s;
    color: #E3893B;
    background-color: #4f5357;
    box-shadow: 1rem 1rem rgba(0, 0, 0, 0.5);
}


.footer__link {
    text-decoration: none;
    color: #fff;
}

.footer__link:hover {
    text-decoration: none;
}

.row h4{
    color: #E3893B;
    font-weight: 900;
}

.footer-bottom {
    color: #a3adb8;
    text-align: center;
}
