.dei {
    color: #092c3e;
    transition: 2s;
}

.nait {
    color: #fff;
    position: absolute;
    transition: 2s;
}

.skillsCont {
    align-items: center;
    background: #4f5357;
    /* border: 10px solid rgb(18, 22, 78); */
    border-radius: 20px;
    color: #fff;
    /* color: #E3893B; */
    /* color: #38b23e; */
    display: 'flex';
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    position: relative;
    width: 80vw;
}

h3 {
    text-align: center;
}

.wheel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding: 30px;
    width: 70vw;
}

.Express {
    border-radius: 10px;
    color: #38b23e;
    font-size: 5vh;
    justify-content: 38b23e;
}

.Express:hover {
    /* background-color: #092c3e; */
    box-shadow: 1rem 1rem rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: #E3893B;
    padding: 5px;
    transition: 1s;
}

.icons{
    /* background-color: #092c3e; */
    color: #38b23e;
    border-radius: 10px;
    padding: 5px;
}


.icons:hover {
    /* background-color: #092c3e; */
    box-shadow: 1rem 1rem rgba(0, 0, 0, 0.5);
    color: #E3893B;
    transition: 1s;
}

/* responsive */
@media screen and (max-width: 1305px) {
    .wheel {
        width: 70vw;
        height: auto;
    }
}

@media screen and (max-width: 650px) {
    .wheel {
        width: 60vw;
        height: auto;
    }
}

@media screen and (max-width: 400px) {
    .wheel span {
        transform: scale(1.2);
        justify-content: flex-start;
    }
}

